package com.example.myproject;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RestController;

@SpringBootApplication
@RestController
public class MyApplication {

    public static void main(String[] args) {
        SpringApplication.run(MyApplication.class, args);
    }

    @GetMapping("/")
    public String helloWorld() {
        return "Hello, World!";
    }
    
    @GetMapping("/branch2")
    public String branch2() {
        return "This is branch 2!";
    }
    
    @GetMapping("/branch3")
    public String branch3() {
        return "This is branch 3!";
    }
    
    @GetMapping("/branch4")
    public String branch4() {
        return "This is branch 4!";
    }
}
